*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    counter-reset: section;  
}
.layer-positioner{
    margin: 0 auto;
    padding: 0 15px;
    width: 1349px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 138, 38);
    border-bottom: 1px solid #cccccc;
    position: fixed;
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
    
}
#guitar-fact{
    position: absolute;
    margin-top: -50px;
}
#artists{
    margin-top: -50px;
    position: absolute;
}
.ul-positioner{
    width: 760px;
    margin: 0 auto;
}
.header-logo{
    float: left;
    width: 105px;
    height: 50px;
    padding: 5px 0;
    margin-left: 40px;
    display: block;
}
.header-menu-ul{
    margin: auto;
    text-align: justify;
}
.header-menu-ul li{
    display: inline-block;
    text-align: jus;
    margin: 0 15px;
}
.header-menu-ul li:nth-child(1){
    margin-left: 0;
}
.header-menu-ul li:nth-child(3){
    margin-right: 0;
}
.header-menu-ul li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: block;
    padding: 12px 25px 11px;
    font-family: 'Raleway', sans-serif;
}
.header-menu-ul li:hover{
    background-color: #f8a319;
}
.header-menu-ul li a:hover{
    color: #333;
}
.header-menu-ul li a:active{
    color: #cb3e00;
}
.guitar-inf{
    background-color: rgba(255, 209, 18, 0.28);
    padding-top: 50px;
}
.guitar-inf-txt{
    max-width: 640px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 24px 15px 38px 50px;
    float: left;
}
.guitar-inf-txt span{
    padding-left: 10px;
    color: #ff0404;
    font-size: 24px;
}
.guitar-inf-background{
    background-image: url("/images/muzykalnyy-instrument-727.jpg");
    width: 596px;
    height: 380px;
    background-size: cover;
    float: right;
    margin: 0px -15px 0px 0px;
}
.guitar-facts{
    padding: 20px 0px 0px 0;
}
.pre-facts{
    margin-left: 10px;
    padding: 10px 30px;;
    font-size: 24px;
    width:90%;
}
.guitar-facts-ul{
    list-style: none;
    padding: 0 20px;
}
.guitar-facts-ul li{
    margin: 20px 0;
    width: 28%;
    margin: 28px 2.66%;
    float: left;
    min-height: 180px;
    padding-left: 34px;
    position: relative;
}
.guitar-facts-ul li:before{
    background-color: rgb(16, 0, 204);
    content: counter(section);
    border-radius: 50%;
    counter-increment: section;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
}
.guitar-artist{
    color: #fff;
    font-size: 26px;
    margin: 0 0 10px 60px;
}
.guitar-artists{
    padding: 30px 0 50px;
    background-color: #ff9300;
}
.guitar-artists-quote{
    max-width: 900px;
    width: 100%;
    margin-left: 60px;
    color: white;
    font-size: 18px;
    float: left;
}
.guitar-artists-quote span{
    padding: 0 0px 0 10px;
    font-size: 20px;
}
.guitar-artists-img{
    background-image: url('/images/M.-Karkassi.jpg');
    width: 172px;
    height: 209px;
    border-radius: 20px;
    float: left;
    margin: 0 0 0 100px;
}
.gallery{
    max-width: 1200px;
    margin: auto;
}
.gallery-background{
    background-color: #d67b12;
}
.your-class{
    width: 710px;
    margin: auto;
}
.footer-relative{
    position: relative;
}
.footer{
    height: 60px;
    background-color: #333;
}
.footer-pos{
    width: auto;
    height: 60px;
    margin: 0 auto;
}

.footer-background{
    background: url('/images/KAI-Logo.png') no-repeat;
    height: 60px;
    width: 180px;
    background-size: 70%;
    position: absolute;
    left: 10px;
}
.footer-quote{
    color: #ccc;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    text-align: center;
}


@media screen and (max-width: 1370px){
        *{
            padding: 0;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            box-sizing: border-box;
        }
        body{
            counter-reset: section;  
        }
        .layer-positioner{
            width: 100%;
        }
}


@media screen and (max-width: 1280px){
    .guitar-inf{
        width: 100%;
    }
    .guitar-inf-txt{
        width: 50%;
        padding-right: 0;
        padding-left: 20px;
    }
    .guitar-inf-background{
        width: 48%;
    }
    .header-logo{
        margin-left: 20px;
    }
    .ul-positioner{
        width: 690px;
    }
    .header-menu-ul li{
        margin: 0 1.17%;
        height: 49px;
    }
    .header-menu-ul li a{
        font-size: 20px;
    }
    .pre-facts{
        font-size: 20px;
        padding-left: 0;
    }
    .guitar-facts-ul{
        padding-left: 0;
        padding-right: 0;
    }
    .guitar-facts-ul li{
        font-size: 15px;
        min-height: 240px;
    }
    .guitar-artist{
        margin: 0 0 10px 30px;
    }
    .guitar-artists{
        padding: 30px 0 40px;
    }
    .guitar-artists-quote{
        max-width: 900px;
        width: 100%;
        margin-left: 30px;
        color: white;
        font-size: 18px;
        float: left;
        width: 66%;
    }
    .guitar-artists-img{
        background-image: url('/images/M.-Karkassi.jpg');
        width: 172px;
        height: 209px;
        border-radius: 20px;
        float: left;
        margin: 0px 0 0 70px;
    }
    .footer-background{
        background: url('/images/KAI-Logo.png') no-repeat;
        height: 50px;
        width: 120px;
        background-size: cover;
        position: absolute;
        left: 10px;
        top: 4px;
    }
    .footer-quote{
        color: #ccc;
        font-size: 20px;
        line-height: 20px;
        padding: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 960px){
    .guitar-inf{
        width: 100%;
    }
    .guitar-inf-txt{
        width: 50%;
        padding-right: 0;
        padding-left: 20px;
    }
    .guitar-inf-background{
        width: 48%;
    }
    .header-logo{
        margin-left: 0px;
    }
    .ul-positioner{
        width: 556px;
    }
    .header-menu-ul li{
        margin: 0;
        height: 49px;
    }
    .header-menu-ul li a{
        font-size: 18px;
        padding-left: 4px;
        padding-right: 4px;
    }
    .pre-facts{
        font-size: 20px;
        padding-left: 0;
    }
    .guitar-facts-ul{
        padding-left: 0;
        padding-right: 0;
    }
    .guitar-facts-ul li{
        font-size: 15px;
        min-height: 380px;
        margin-left: 5px;
        margin-right: 5px;
        width: 30%;
    }
    .guitar-artist{
        margin: 0 0 10px 20px;
    }
    .guitar-artists{
        padding: 30px 0 40px;
    }
    .guitar-artists-quote{
        max-width: 900px;
        width: 100%;
        margin-left: 20px;
        color: white;
        font-size: 18px;
        float: left;
        width: 63%;
    }
    .guitar-artists-img{
        background-image: url('/images/M.-Karkassi.jpg');
        width: 172px;
        height: 209px;
        border-radius: 20px;
        float: left;
        margin: 0px 0 0 24px;
    }
    .footer{
        height: 64px;
    }
    .footer-background{
        background: url('/images/KAI-Logo.png') no-repeat;
        height: 37px;
        width: 90px;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 10px;
    }
    .footer-quote{
        color: #ccc;
        font-size: 17px;
        line-height: 20px;
        padding: 12px;
        text-align: center;
        width: 500px;
        margin:auto;
    }
    .your-class{
        width: 560px;
    }
}


@media screen and (max-width: 640px){
    .header-logo{
        float: none;
        margin: 0 auto;
    }
    .guitar-inf{
        width: 100%;
    }
    .guitar-inf-txt{
        width: 100%;
        padding: 10px 0;
        font-size: 14px;
    }
    .guitar-inf-txt span{
        font-size: 20px;
    }
    .guitar-inf-background{
        width: 110%;
        height: 250px;
    }
    .ul-positioner{
        display: none;
        content:"";
    }
    .pre-facts{
        font-size: 16px;
        margin: auto;
        padding: 0;
    }
    .guitar-facts-ul{
        padding-left: 0;
        padding-right: 0;
    }
    .guitar-facts-ul li{
        font-size: 14px;
        min-height: 210px;
        margin-left: 5px;
        margin-right: 5px;
        width: 46.5%;
        padding-left: 25px;
    }
    .guitar-facts-ul li:nth-child(8){
        min-height: 450px;
    }
    .guitar-facts-ul li:before{
        width: 20px;
        height: 20px;
        text-align: center;
        color: white;
        position: absolute;
        left: 0;
    }
    .guitar-artist{
        margin: 0 0 10px 0px;
        font-size: 18px;
    }
    .guitar-artists{
        padding: 15px 0 20px;
    }
    .guitar-artists-quote{
        max-width: 900px;
        width: 100%;
        margin-left: 0px;
        color: white;
        font-size: 14px;
        float: none;
        width: 100%;
    }
    .guitar-artists-img{
        background-image: url('/images/M.-Karkassi.jpg');
        width: 140px;
        height: 170px;
        border-radius: 20px;
        float: none;
        margin: 20px auto 0;
        background-size: cover;
    }
    .footer-pos{
        height: auto;
    }
    .footer{
        height: auto;
    }
    .footer-background{
        background: url('/images/KAI-Logo.png') no-repeat;
        height: 30px;
        width: 72px;
        background-size: cover;
        position: absolute;
        margin-top: -6px;
        margin-bottom: 10px;
    }
    .footer-quote{
        color: #ccc;
        font-size: 13px;
        line-height: 20px;
        padding: 2px 0;
        text-align: center;
        width: 60%;
        margin:auto;
        margin-bottom: 5px;
    }
    .your-class div img{
        width: 100%;
       height: auto;;
        margin: auto;
    }
    .your-class{
        width: 80%;
    }
}