*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    counter-reset: section;  
}
.layer-positioner{
    margin: 0 auto;
    padding: 0 15px;
    width: 1349px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 138, 38);
    border-bottom: 1px solid #cccccc;
    position: fixed;
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
    
}
#guitar-fact{
    position: absolute;
    margin-top: -50px;
}
#artists{
    margin-top: -50px;
    position: absolute;
}
.header-logo{
    width: 105px;
    height: 40px;
    float: left;
    margin-left: 60px;
    padding: 5px 5px;
}
.header-menu-ul{
    float: left;
    margin-left: 300px;
}
.header-menu-ul li{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    padding: 0 0px;
}
.header-menu-ul li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: block;
    padding: 12px 25px 11px;
    font-family: 'Raleway', sans-serif;
}
.header-menu-ul li:hover{
    background-color: #f8a319;
}
.header-menu-ul li a:hover{
    color: #333;
}
.header-menu-ul li a:active{
    color: #cb3e00;
}
.guitar-inf{
    background-color: rgba(255, 209, 18, 0.28);
}
.guitar-inf-txt{
    width: 640px;
    font-family: 'Open Sans', sans-serif;
    padding: 74px 15px 38px 50px;
    float: left;
}
.guitar-inf-txt span{
    padding-left: 10px;
    color: #ff0404;
    font-size: 24px;
}
.guitar-inf-background{
    background-image: url("/images/muzykalnyy-instrument-727.jpg");
    width: 596px;
    height: 380px;
    background-size: cover;
    float: right;
    margin: 50px -15px 0px 0px;
}
.guitar-facts-ul-pos{
    width: 1330px;
}
.guitar-facts{
    background-color: white;
    float: left;
    padding: 20px 0px 60px 0;
}
.pre-facts{
    margin-left: 10px;
    padding: 10px 30px;;
    font-size: 24px;
}
.guitar-facts-ul{
    margin: auto;;
    list-style: none;
    width: 1200px;
}
.guitar-facts-ul li{
    margin: 20px 0;
    width: 28%;
    margin: 28px;
    float: left;
    min-height: 180px;
    padding-left: 34px;
    position: relative;
}
.guitar-facts-ul li:before{
    background-color: rgb(16, 0, 204);
    content: counter(section);
    border-radius: 50%;
    counter-increment: section;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
}
.guitar-artist{
    color: #fff;
    font-size: 26px;
    padding: 0 0 10px 60px;
}
.guitar-artists{
    padding: 30px 0 50px;
    background-color: #ff9300;
}
.guitar-artists-quote{
    width: 900px;
    padding-left: 60px;
    color: white;
    font-size: 18px;
    float: left;
}
.guitar-artists-quote span{
    padding: 0 0px 0 10px;
    font-size: 20px;
}
.guitar-artists-img{
    background-image: url('/images/M.-Karkassi.jpg');
    width: 172px;
    height: 209px;
    border-radius: 20px;
    float: left;
    margin: 0 0 0 100px;
}
.gallery{
    max-width: 1200px;
    margin: auto;
}
.gallery-background{
    background-color: #d67b12;
}
.your-class{
    width: 710px;
    margin: auto;
}
.footer{
    height: 60px;
    background-color: #333;
}
.footer-pos{
    width: 960px;
    height: 60px;
    margin: auto;
}

.footer-background{
    background: url('/images/KAI-Logo.png') no-repeat;
    height: 60px;
    width: 180px;
    background-size: 70%;
    float: left;
}
.footer-quote{
    color: #ccc;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 20px;
    text-align: center;
    vertical-align: middle;
}


@media screen and (max-width: 1280px) and (min-width:1024px){
    *{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    counter-reset: section;  
}
.layer-positioner{
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 138, 38);
    border-bottom: 1px solid #cccccc;
    position: fixed;
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
    
}
#guitar-fact{
    display: none;
}
#artists{
    display: none;
}
.header-logo{
    width: 105px;
    height: 40px;

    padding: 5px 5px;
}
.header-menu-ul{
    float: right;
    max-width: 1000px;
    margin: 0;
}
.header-menu-ul li{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    padding: 0 0px;
}
.header-menu-ul li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: block;
    padding: 12px 25px 11px;
    font-family: 'Raleway', sans-serif;
}
.header-menu-ul li:hover{
    background-color: #f8a319;
}
.header-menu-ul li a:hover{
    color: #333;
}
.header-menu-ul li a:active{
    color: #cb3e00;
}
.guitar-inf{
    
}
.guitar-inf-txt{
    padding: 70px 0px 30px 20px;
    width: 41%;
}
.guitar-inf-txt span{

}
.guitar-inf-background{
    margin-right: -20px;
    height: 413px;
}
.guitar-facts-ul-pos{
    display: none;
}
.guitar-facts{
    display: none;
}
.pre-facts{
    display: none;
}
.guitar-facts-ul{
    display: none;
}
.guitar-facts-ul li{
    display: none;
}
.guitar-facts-ul li:before{
    display: none;
}
.guitar-artist{
    display: none;
}
.guitar-artists{
    display: none;
}
.guitar-artists-quote{
    display: none;
}
.guitar-artists-quote span{
    display: none;
    }
.guitar-artists-img{
    display: none;
}
.gallery{
    display: none;
}
.gallery-background{
    display: none;
}
.your-class{
    display: none;
}
.footer{
    display: none;
}
.footer-pos{
   display: none;
}

.footer-background{
    display: none;
}
.footer-quote{
    display: none;
}
}