*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.layer-positioner{
    margin: 0 auto;
    padding: 0 15px;
    width: 1349px;
}
.roll{
    margin: 0 auto;
    padding: 0 15px;
    width: 1349px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.header-backgr{
    background-color: white;
}
.header-background{
    background: url('/images/header-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 340px 0 450px;
}
.header-background h1{
    color: white;
    font-size: 65px;
    margin: 0 50px 0 0;
    text-align: right;
}
.shop{
    background-color: black;
    background-image: url('/images/shop-guitar.jpg');
    background-attachment: fixed;
    background-size: 690px 727px;
    background-repeat: no-repeat;
    padding: 230px 0 70px;
}
.shop-quote{
    color: #ccc;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 155px;
}
.shop-quote-c{
    color: #ccc;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: right;
}
.navigate{
    max-width: 1349px;
    margin: auto;
    background-color: #0d0d0d;
}
.navigate-backgr{
    width: auto;
}
.sl{
    width: 1067px;
    margin: auto;
}
.content-3{
    background-color: black;
    padding: 0px 0 38px;
}

.content-3-img{
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 50px;
    float: left;
}
#scene {
    padding: 80px 0;
}
.content-3-quote{
    float: right;
    color: #cccccc;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    text-align: center;
    margin: 90px 40px 80px;
}
.content-3-quote-c{
    float: right;
    color: #cccccc;
    font-family: 'Exo 2', sans-serif;
    font-size: 26px;
    text-align: right;
    margin: 0 40px 0;
}
.guitar-types-pos{
    margin: auto;
    width: 960px;
}
.guitar-types{
    background-color: white;
    margin: auto;
    padding: 30px 0 70px;
}
.item{
    width: 280px;
    height: 350px;
    display: block;
    border: 1px dashed pink;
    float: left;
    margin-right: 60px;
    text-decoration: none;
    margin-top: 40px;
}

.item-img{
    margin: 15px auto 10px;
    width: 110px;
}
.item:nth-child(3n){
    margin-right: 0;
}
.item:nth-child(4){
    height: 380px;
}
.item:nth-child(5){
    height: 380px;
}
.item:nth-child(6){
    height: 380px;
}
.item-name{
    color: black;
    font-size: 20px;
    text-align: center;
}
.item-img-5{
    width:90px;
}
.footer-relative{
    position: relative;
}
.footer{
    height: 60px;
    background-color: #333;
}
.footer-pos{
    width: auto;
    height: 60px;
    margin: 0 auto;
}

.footer-background{
    background: url('/images/KAI-Logo.png') no-repeat;
    height: 60px;
    width: 180px;
    background-size: 70%;
    position: absolute;
    left: 10px;
}
.footer-quote{
    color: #ccc;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    text-align: center;
}





@media screen and (max-width: 1370px){
        
    .layer-positioner{
        width: 100%;
    }
    .header-background{
            padding: 250px 0 310px;
        }
    .shop{
        padding: 230px 20px 60px 0px;
    }
    #scene{
        padding: 120px 0 0px;
    }
    .content-3-quote{
        margin: 160px 80px 60px 0px;
    }
}
    
    @media screen and (max-width: 1280px){
        .header-background h1{
            font-size: 48px;
        }
        .shop-quote{
            font-size: 26px;
        }
        .sl div img{
        width: 100%;
       height: auto;;
        margin: auto;
        }
        .sl{
            width: 100%;
        }
        #scene li img{
            width: 30%
        }
        #scene{
            margin-left: -30px;
        }
        .content-3-quote{
            margin: 100px 30px 40px 100px;
            font-size: 26px;
            
        }
        .content-3-quote-c{
            font-size: 20px;
        }
        .content-3{
            padding-bottom: 100px;
        }
        .guitar-types{
            width: 942px;
        }
        .item{
            width: 264px;
        }
        .guitar-types-pos{
            width: 100%;
        }
        .item-name{
            font-size: 18px;
        }
        .footer-background{
        background: url('/images/KAI-Logo.png') no-repeat;
        height: 50px;
        width: 120px;
        background-size: cover;
        position: absolute;
        left: 10px;
        top: 4px;
        }
        .footer-quote{
            color: #ccc;
            font-size: 20px;
            line-height: 20px;
            padding: 20px;
            text-align: center;
        }
@media screen and (max-width: 960px){
    .header-background{
        padding: 120px 0 100px;
    }
    .header-background h1{
        font-size: 36px;
        margin-right: 10px;
    }
    .shop{
        padding: 100px 0 40px;
        background-attachment:scroll;
        background-size: 300px 300px;
    }
    .shop-quote{
        font-size: 20px;
        margin: 0px 0 60px;
    }
    .content-3{
        padding-bottom: 40px;
    }
    .content-3-quote{
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .content-3-quote-c{
        font-size: 16px;
    }
    #scene{
        padding-top: 30px;
        margin-left: -70px;
    }
    .guitar-types{
        width: 100%;
    }
    .guitar-types-pos{
        width: 560px;
    }
    .item{
        width: 250px;
        height: 320px;
        margin-right: 60px;
    }
    .item:nth-child(3){
        margin-right: 60px;
    }
    .item:nth-child(2){
        margin-right: 0;
    }
    .item:nth-child(4){
        margin-right: 0;
        height: 320px
    }
    .item:nth-child(6){
        margin-right: 0;
        height: 320px
    }
    .item:nth-child(5){
        height: 320px
    }
    .item-img img{
        width: 90px;
        height: 250px;
    }
    .item-img{
        width: 90px;
        height: 250px;
    }
    .item-img-4 img{
        width: 80px;
    }
    .item-img-4{
        width: 80px;
    }
    .item-img-5 img{
        width: 75px;
    }
    .item-img-5{
        width: 75px;
    }
    .footer{
        height: 64px;
    }
    .footer-background{
        background: url('/images/KAI-Logo.png') no-repeat;
        height: 37px;
        width: 90px;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 10px;
    }
    .footer-quote{
        color: #ccc;
        font-size: 17px;
        line-height: 20px;
        padding: 12px;
        text-align: center;
        width: 500px;
        margin:auto;
    }
}
        @media screen and (max-width:640px){
            .header-background{
                padding: 70px 0 50px;
            }
            .header-background h1{
                font-size: 22px;
                margin: 0;
            }
            .shop-quote{
                font-size: 14px;
                font-weight: 600;
                padding-left: 60px;
                margin-bottom: 30px
            }
            .shop-quote-c{
                font-size: 10px;
                font-weight: 500;
                margin-right: 10px;
            }
            .content-3-quote{
                font-size: 14px;
            }
            .content-3-quote-c{
                font-size: 10px;
            }
            .footer-pos{
        height: auto;
        }
        .footer{
            height: auto;
        }
        .footer-background{
            display: none;
        }
        .footer-quote{
            color: #ccc;
            font-size: 13px;
            line-height: 20px;
            padding: 2px 0;
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }
            .guitar-types-pos{
                width: 250px;
            }
        }